<div class="entry-edit">
  <div id="group_fields4" class="fieldset fieldset-wide">
    <div class="hor-scroll">
      <input type="text" name="barcode" value="" id="barcode" style="font-size:30px" tabindex="1" autofocus />
    </div>
  </div>
</div>

<script src="/skin/frontend/default/custom/js/jquery-1.6.2-no-conflict.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">

  jQuery(document).ready(function() {
    jQuery('#barcode').change( function(event) {
      event.preventDefault();
      var url = jQuery('.barcode_'+jQuery(this).val() ).eq(0).attr('title');
      window.location.href = url + 'active_tab/pickinglist';
    });
  });
</script>