<!--@subject [#{{var ticket.uid}}] Ticket creato: {{var ticket.title}}@-->

<style type="text/css">
    body, td {
        color: #2f2f2f;
        font: 11px/1.35em Verdana, Arial, Helvetica, sans-serif;
    }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">

                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Gentile {{var ticket.customer_name}}</strong>,<br/>
                                Grazie per averci contattato. Questa è una risposta automatica di conferma ricezione del tuo ticket.
                                Uno dei nostri operatori ti risponderà prima possibile. Per tua comodità, i dettagli del ticket
                                sono elencati sotto. Nel rispondere prego assicurati che il tuo ticket ID sia presente nel soggetto
                                per fare in modo che le risposte siano individuate correttamente.
                            </p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;">
                                <strong>Ticket ID:</strong> {{var ticket.uid}}<br/>
                                <strong>Titolo:</strong> {{var ticket.title}}<br/>
                            </p>

                            <p>


                            </p>

                            <p>
                                <strong>Con i nostri migliori auguri,<br/>
                                    {{var department.name}}</strong>
                            </p>

                            <br/>

                            {{var ticket.getCustomerUrlHtml()}}


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>

