<!--@subject [#{{var ticket.uid}}] Ticket assigned: {{var ticket.title}}@-->

<style type="text/css">
    body, td {
        color: #2f2f2f;
        font: 11px/1.35em Verdana, Arial, Helvetica, sans-serif;
    }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">

                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">

                            <p>
		<span class="_CONTENT_">
			Gentile {{var newdepartment.name}},<br/>
			
			Il ticket vi è stato (ri)assegnato 
		</span>

                            <p>

                            <p><strong>Dettagli Ticket:</strong></p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;">
                                <b>Nome:</b> {{var ticket.customer_name}}<br/>
                                <b>Email:</b> {{var ticket.customer_email}}<br/>
                                <b>Ticket ID:</b> <a href="{{var ticket.getAdminUrl()}}">{{var ticket.uid}}</a><br/>
                                <b>Titolo:</b> {{var ticket.title}}<br/>
                            </p>

                            <p>
                                <br/>
                                <br/>
                                Puoi visualizzare un ticket e rispondere con l'interfaccia web da
                                <a href="{{var ticket.getAdminUrl()}}">qui</a>.
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>


