<!--@subject {{var store.getFrontendName()}}: {{var subject}} @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<p>Gentile {{var request.getCustomerName()}}!<p>
  La tua richiesta è stata inoltrata.<br />
  Prepara il tuo pacco con il reso e contatta UPS per il ritiro utilizzando la nostra eticchetta prepagata e prestampata che hai trovato all'interno della confezione.<br />
  Al ricevimento del tuo reso presso i nostri magazzini riceverai una conferma ed il rimborso dopo la valutazione dell'ufficio resi.<br />
{{var content}}
{{depend request.getNotifyHasComment()}}
{{var depname}}:<br />
{{var request.getNotifyCommentText()}}
{{/depend}}
<p>Puoi controllare lo stato della tua richiesta a questo indirizzo <a href="{{var request.getUrl()}}">{{var request.getUrl()}}</a>.</p>
<p>Grazie per aver usato il servizio di Rimborso/Sostituzione.</p>
