<?php
$colorImages = array();
$collection = Mage::getSingleton('colorthumbnail/colorthumbnail')->getCollection();
foreach ($collection as $item) {
  $colorImages[ $item->getAttributeOptionId() ] = array('color' => $item->getColor(), 'filename' => $item->getFilename() );
}
?>
<ol>
<?php foreach ($this->getItems() as $_item): ?>
    <li class="filter_<?php echo strtolower($this->getName()) ?>">
      
        <?php if ( $this->getName() == 'Colore' ): ?>
            <?php if (!empty($colorImages[$_item->getValue()]['filename'])): ?>
              <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>"><img class="color" id="color_<?php echo $_item->getValue() ?>" src="/media/colors/<?php echo $colorImages[$_item->getValue()]['filename'] ?>" /></a>
            <?php else: ?>
            <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>"><span class="color" id="color_<?php echo $_item->getValue() ?>" style="background-color:#<?php echo $colorImages[$_item->getValue()]['color'] ?>"></span></a>
            <?php endif ?>
        <?php else : ?>
          <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?></a>
        <?php endif ?>
    </li>
<?php endforeach ?>
</ol>
