<?php if($this->canShowBlock()): ?>
<div class="block block-layered-nav">
    <div class="block-content">
            <dl id="narrow-by-list">
                <?php $_filters = $this->getFilters() ?>
                <?php foreach ($_filters as $_filter): ?>
                <?php if($_filter->getItemsCount()): ?>
                    <dt><?php echo $this->__('Filtra per') ?> <?php echo $this->__($_filter->getName()) ?></dt>
                    <dd class="content">
                      <?php if($this->canShowOptions()): ?><?php //echo $this->getStateHtml() ?><?php endif ?>
                      <?php echo $_filter->getHtml() ?>        
                    </dd>

                <?php endif; ?>
                <?php endforeach; ?>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            </dl>
        
    </div>
</div>
<?php endif; ?>
