<?php $helper = $this->helper('quickproduct') ?>
<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Prodotto veloce')?></h3></td>
            <td class="a-right">
                <button onclick="editForm.submit()" class="scalable save" type="button"><span>Salva</span></button>
            </td>
        </tr>
    </table>
</div>
<div class="entry-edit">
    <form id="edit_form" name="edit_form" method="post" action="<?php echo $this->getUrl('*/*/post')?>" enctype="multipart/form-data">
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                
        <fieldset id="my-fieldset">
            <table cellspacing="0" class="form-list">
              
                <tr>
                    <td class="label"><?php echo $this->__('Category')?> </td>
                    <td class="input-ele">
                      <select name="category_id">
                        <?php foreach ( Mage::getSingleton('banner/source_category')->getOptionArray() as $key => $value ): ?>
                          <option value="<?php echo $key ?>"><?php echo $value ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><em>*</em> <?php echo $this->__('Sku')?> </td>
                    <td class="input-ele">
                      <input type="text" name="sku" value="" id="sku" class="input-text required-entry">
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><em>*</em> <?php echo $this->__('Nome')?> </td>
                    <td class="input-ele">
                      <input type="text" name="name" value="" id="name" class="input-text required-entry">
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Descrizione')?> </td>
                    <td class="input-ele">
                      <textarea name="description" rows="8" cols="40"></textarea>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><em>*</em> <?php echo $this->__('Price')?> </td>
                    <td class="input-ele">
                      <input type="text" name="price" value="" id="price" class="input-text required-entry">
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Qty')?> </td>
                    <td class="input-ele">
                      <table>
                        <thead>
                          <tr>
                            <?php foreach ( $helper->getAttributeValuesByName('size') as $size_key => $size_value ): ?>
                              <?php if ( $size_value ): ?>
                                <th><?php echo $size_value ?></th>
                              <?php endif ?>
                            <?php endforeach ?>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                          <?php foreach ( $helper->getAttributeValuesByName('size') as $size_key => $size_value ): ?>
                            <?php if ( $size_value ): ?>
                              <td><input type="text" name="qty[<?php echo $size_key ?>]" value="0" class="input-text qty" size="3"></td>
                            <?php endif ?>
                          <?php endforeach ?>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Brand')?> </td>
                    <td class="input-ele">
                      <select name="manufacturer">
                        <?php foreach ( $helper->getAttributeValuesByName('manufacturer') as $key => $value ): ?>
                          <option value="<?php echo $key ?>"><?php echo $value ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Vestibilità')?> </td>
                    <td class="input-ele">
                      <select name="wearability">
                        <?php foreach ( $helper->getAttributeValuesByName('wearability') as $key => $value ): ?>
                          <option value="<?php echo $key ?>"><?php echo $value ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Materiale')?> </td>
                    <td class="input-ele">
                      <select name="material">
                        <?php foreach ( $helper->getAttributeValuesByName('material') as $key => $value ): ?>
                          <option value="<?php echo $key ?>"><?php echo $value ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Altezza tacco')?> </td>
                    <td class="input-ele">
                      <select name="heel">
                        <?php foreach ( $helper->getAttributeValuesByName('heel') as $key => $value ): ?>
                          <option value="<?php echo $key ?>"><?php echo $value ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Altezza Plateau')?> </td>
                    <td class="input-ele">
                      <select name="plateau">
                        <?php foreach ( $helper->getAttributeValuesByName('plateau') as $key => $value ): ?>
                          <option value="<?php echo $key ?>"><?php echo $value ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Taglie')?> </td>
                    <td class="input-ele">
                        <?php foreach ( $helper->getAttributeValuesByName('size') as $key => $value ): ?>
                          <?php if ($value): ?>
                          <input type="checkbox" name="size[]" value="<?php echo $key ?>" id="size_<?php echo $key ?>"><?php echo $value ?>&nbsp;&nbsp;
                          <?php endif ?>
                        <?php endforeach ?>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Colori')?> </td>
                    <td class="input-ele">
                      <select name="color[]" multiple>
                      <?php foreach ( $helper->getAttributeValuesByName('multicolor') as $key => $value ): ?>
                        <?php if ($value): ?>
                          <option value="<?php echo $key ?>"><?php echo $value ?></option>
                        <?php endif ?>
                      <?php endforeach ?>
                      </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="label"><?php echo $this->__('Shelf')?> </td>
                    <td class="input-ele">
                      <input type="text" name="shelf" value="" id="shelf">
                    </td>
                </tr>
                
              </table>
          </fieldset>    
          <fieldset id="my-fieldset">
              <h3>Immagine principale</h3>
              <table cellspacing="0" class="form-list">

                    <tr>
                        <td class="label"><?php echo $this->__('Immagine')?></td>
                        <td class="input-ele">
                          <input type="file" name="image" id="image" />
                        </td>
                    </tr>
            </table>
        </fieldset>
        
          <fieldset id="my-fieldset">
              <h3>Immagini extra</h3>
              <table cellspacing="0" class="form-list">
                    <tr>
                        <td class="label"><?php echo $this->__('Immagine extra')?></td>
                        <td class="input-ele">
                          <input type="hidden" name="images_extra" id="images_extra" />
                          <div class="fileupload">
                              <form action="/upload.php" method="POST" enctype="multipart/form-data">
                                  <div class="fileupload-buttonbar">
                                      <label class="fileinput-button">
                                          <span>Aggiungi files...</span>
                                          <input type="file" name="files[]" multiple>
                                      </label>
                                      <button type="submit" class="start">Inizia upload</button>
                  										<img src="/skin/adminhtml/default/default/images/ajax-loader-tr.gif" style="display:none" class="importer_loader" />
                                  </div>
                              </form>
                              <!-- The global progress bar -->
                              <div class="progress progress-success progress-striped active fade">
                                  <div class="bar" style="width:0%;"></div>
                              </div>
                              <div class="fileupload-content">
                                  <table class="files"></table>
                                  <div class="fileupload-progressbar"></div>
                              </div>
                          </div>
                        </td>
                    </tr>
            </table>
        </fieldset>
                  
        <script>var IMPORTER_BASE_URL = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) ?>";</script>
        <script id="template-upload" type="text/x-jquery-tmpl">
              <tr class="template-upload{{if error}} ui-state-error{{/if}}">
                  <td class="preview"></td>
                  <td class="name">{{if name}}${name}{{else}}Untitled{{/if}}</td>
                  <td class="size">${sizef}</td>
                  {{if error}}
                      <td class="error" colspan="2">Error:
                          {{if error === 'maxFileSize'}}File is too big
                          {{else error === 'minFileSize'}}File is too small
                          {{else error === 'acceptFileTypes'}}Filetype not allowed
                          {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                          {{else}}${error}
                          {{/if}}
                      </td>
                  {{else}}
                      <td class="progress"><div></div></td>
                      <td class="start"><button>Start</button></td>
                  {{/if}}
                  <td class="cancel"><button>Cancel</button></td>
              </tr>
          </script>
          <script id="template-download" type="text/x-jquery-tmpl">
              <tr class="template-download{{if error}} ui-state-error{{/if}}">
                  {{if error}}
                      <td></td>
                      <td class="name">${name}</td>
                      <td class="size">${sizef}</td>
                      <td class="error" colspan="2">Error:
                          {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
                          {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
                          {{else error === 3}}File was only partially uploaded
                          {{else error === 4}}No File was uploaded
                          {{else error === 5}}Missing a temporary folder
                          {{else error === 6}}Failed to write file to disk
                          {{else error === 7}}File upload stopped by extension
                          {{else error === 'maxFileSize'}}File is too big
                          {{else error === 'minFileSize'}}File is too small
                          {{else error === 'acceptFileTypes'}}Filetype not allowed
                          {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                          {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
                          {{else error === 'emptyResult'}}Empty file upload result
                          {{else}}${error}
                          {{/if}}
                      </td>
                  {{else}}
                      <td class="preview">
                          {{if thumbnail_url}}
                              <a href="${url}" target="_blank"><img src="${thumbnail_url}"></a>
                          {{/if}}
                      </td>
                      <td class="name">
                          <a href="${url}"{{if thumbnail_url}} target="_blank"{{/if}}>${name}</a>
                      </td>
                      <td class="size">${sizef}</td>
                      <td colspan="2"></td>
                  {{/if}}
                  <td class="delete">
                      <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
                  </td>
              </tr>
          </script>
          <script src="/skin/adminhtml/default/default/importer/jquery-1.6.1-no-conflict.js"></script>
          <script src="/skin/adminhtml/default/default/importer/jquery-ui.min.js"></script>
          <script src="/skin/adminhtml/default/default/importer/jquery.tmpl.min.js"></script>
          <script src="/skin/adminhtml/default/default/importer/jquery.iframe-transport.js"></script>
          <script src="/skin/adminhtml/default/default/importer/jquery.fileupload.js"></script>
          <script src="/skin/adminhtml/default/default/importer/jquery.fileupload-ui.js"></script>
          <script src="/skin/adminhtml/default/default/importer/application.js"></script>
        
    </form>
</div>
<script type="text/javascript">
    var editForm = new varienForm('edit_form');
</script>