<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_FBIntegrator
 * @version    2.1.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php if ($this->canShow()): ?>
    <?php $like = $this->getLikeConf(); ?>
    <div class="fbintegrator-likebutton">
        <div class="fb-like" id="<?php echo 'aw_fbi_' . $this->getBlockId(); ?>"></div>
        <script type="text/javascript">
            var aw_fbi_likebtn= $(<?php echo "'aw_fbi_" . $this->getBlockId() . "'"; ?>);
            aw_fbi_likebtn.writeAttribute("data-send", "<?php echo $like['send']; ?>" );
            aw_fbi_likebtn.writeAttribute("data-layout","<?php echo $like['laystyle']; ?>" );
            aw_fbi_likebtn.writeAttribute("data-show-faces","<?php echo $like['face']; ?>" );
            aw_fbi_likebtn.writeAttribute("data-width","<?php echo $like['width']; ?>");
            aw_fbi_likebtn.writeAttribute("data-action","<?php echo $like['verb']; ?>");
            aw_fbi_likebtn.writeAttribute("data-font","<?php echo $like['font']; ?>");
            aw_fbi_likebtn.writeAttribute("data-colorscheme","<?php echo $like['color']; ?>");
            aw_fbi_likebtn.writeAttribute("data-ref","");
        </script>
    </div>
<?php endif; ?>
