<?php $_product = $this->getProduct(); ?>
<?php $attribute = $_product->getResource()->getAttribute('manufacturer')->getFrontend()->getValue($_product); 
		  	//metodo per non inserire la foto della marca se ass
?>
	<?php if ($attribute != 'No'):?>
		<a href="<?php echo $this->getBrandUrl() ?>"><img src="<?php echo $this->getBrandthumbnail() ?>" height="80" /></a>
	<?php else :?>
		<img src="/skin/frontend/default/custom/images/nologo.png" height="80" />
	<?php endif ?>

