<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
    $big_width = 470;
    $big_height = 417;
?>

<?php echo $this->getChildHtml('brandView') ?>

<div class="product-image">
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<a class="MagicZoomPlus" id="Zoomer" rel="zoom-position: right; zoom-distance:35; zoom-width:470; zoom-height:417; zoom-align: top; loading-msg:<?php echo $this->__('Loading image') ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>">
    <?php
        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->keepFrame(true)->resize($big_width, $big_height).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</a>
<?php else: ?>
    <?php
        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->keepFrame(true)->resize($big_width, $big_height).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
<?php endif; ?>
</div>

<?php if (count($this->getGalleryImages()) > 0): ?>
<div class="more-views">
    <ul>
    <?php foreach ($this->getGalleryImages() as $_image): ?>
        <li>
            <a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()) ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>" rel="zoom-id:Zoomer;" rev="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->keepFrame(true)->resize($big_width, $big_height) ?>"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(78,70); ?>"  alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" /></a>
        </li>
    <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
