<?php if($this->getItems()->getSize()): ?>
<div class="block-related">
    <h2><?php echo $this->__('Related Products') ?></h2>
        <ul class="products-grid" id="block-related">
        <?php foreach($this->getItems() as $_item): ?>
            <li class="item">
                    <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->keepFrame(false)->resize(135) ?>" width="135" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" />
                    <div class="product-details">
                    <div class="product-name">
                      <?php echo $this->htmlEscape($_item->getName()) ?></a>
                        <?php echo $this->getPriceHtml($_item, true, '-related') ?>
                        </div>
                        </div>
                    </a>
            </li>
        <?php endforeach ?>
        </ul>
</div>
<?php endif ?>
