.fb-connect-container{margin:30px 0;}
#fb-loader .loader{border:1px solid #ccc; padding:8px; text-align:center;background:#fff; width:120px;z-index:1000; position:fixed; top:45%; left:46%; -moz-opacity:0.8; opacity:0.8; filter:alpha(opacity=80);}
