<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
    
    $collection = Mage::getResourceModel('catalog/product_collection')
                  //->addCategoryFilter($_category)
                  //->addAttributeToFilter('category_ids',array('finset'=>$_category->getId()))
                  ->addAttributeToSort('size', 'ASC')
                  ->groupByAttribute( 'size' )
                  ->addAttributeToSelect('size')
                  ->load();
?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php if($this->isContentMode()): ?>
  
    <?php echo $this->getCmsBlockHtml() ?>

<?php elseif($this->isMixedMode()): ?>
  
    <?php echo $this->getCmsBlockHtml() ?>  
    <?php echo $this->getProductListHtml() ?>

<?php else: ?>
  
  <?php if ( $this->getRequest()->getParam('size') ): ?>
  
    <?php echo $this->getProductListHtml() ?>
  
  <?php else : ?>
    
    <div class="category-intro">
      
      
      <div class="col2-set">
        
        <div class="col-1">
          
          <div class="category-name">
            <?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?>
          </div>
          
          <div class="category-size">
            <p><?php echo $this->__('Scegli la tua taglia:') ?></p>
            <ul>
              <?php foreach ($collection as $_product): ?>
                <li><a href="<?php echo $_category->getUrl() ?>?size=<?php echo $_product->getSize() ?>"><?php echo $_product->getResource()->getAttribute('size')->getFrontend()->getValue($_product) ?></a></li>
              <?php endforeach ?>
            </ul>
          </div>
          
          <?php if($_description=$this->getCurrentCategory()->getDescription()): ?>
              <div class="category-description std">
                  <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
              </div>
          <?php endif; ?>    
        </div>
        
        <div class="col-2">
          <?php if($_imgUrl): ?>
              <?php echo $_imgHtml ?>
          <?php endif; ?>
        </div>
        
      </div>
    </div>
    
    <script type="text/javascript" charset="utf-8">
      jQuery(document).ready(function(){
        jQuery('.breadcrumbs').hide();
      });
    </script>
    
  <?php endif ?>
  
<?php endif; ?>
