<?php 

  $currentCategory = Mage::registry('current_category');
  $brands = $this->getBrands() 

?>

<?php if( is_object($currentCategory) && $currentCategory->getId() == 9 ) : ?>

<!--<ul class="brands">
  <?php foreach ($brands as $brand): ?>
    <li>
      <a href="<?php echo $this->getBrandUrl( $brand->getData('attribute_option_id') ) ?>"><img src="/media/brands/<?php echo $brand->getFilename() ?>" width="200" /></a>
    </li>
  <?php endforeach ?>
</ul>-->

<?php endif ?>