<!--@subject Benvenuto/a, {{var customer.name}}! @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Gentile {{var customer.name}}</strong>,<br/>
                            Benvenuto su {{var customer.store.group.name}}. Per collegarti, clicca su <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> or <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Il mio Account</a> in testa ad ogni pagina, ed inserisci indirizzo email e password.</p>

                            <p>Collegandoti col tuo account potrai:</p>

                            <ul>
                                <li>Procedere più velocemente nel checkout</li>
                                <li>Controllare lo stato degli ordini</li>
                                <li>Visionare ordini precedenti</li>
                                <li>Cambiare informazioni del tuo account</li>
                                <li>Cambiare la password</li>
                                <li>Memorizzare diversi indirizzi di spedizione (per la famiglia, amici, ecc.</li>
                            </ul>

                            <p>Per qualunque domanda sul tuo account, puoi contattarci su: <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a></p>
                            <p>Grazie ancora!</p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
