<!--@subject Nuova password for {{var user.name}} @-->

<style type="text/css">
           body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
      </style>

        <div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
         <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
             <tr>
                    <td align="center" valign="top">
                    <!-- [ header starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                                 <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento" border="0"/></a></p></td>
                            </tr>
                       </table>

                    <!-- [ middle starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                             <p><strong>Gentile, {{var user.name}}</strong>,<br/>
                               La tua nuova password è: {{var password}}</p>
                               <p>Puoi cambiare la password in qualsiasi momento collegandoti su <a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">your account</a>.<p>

                                <p>Grazie ancora,<br/><strong>{{var customer.store.group.name}}</strong></p>


                             </td>
                           </tr>
                       </table>

                    </td>
               </tr>
           </table>
            </div>
