<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdeskultimate
 * @version    2.9.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('aw_helpdeskultimate/css/main.css') ?>"
      media="all"/>
<script type="text/javascript">
    String.prototype.trim = function() {
        // Strip leading and trailing white-space
        return this.replace(/^\s*|\s*$/g, "");
    }

    function insQuot(href) {
        var el = document.getElementById('content_value');
        el.value =
                (el.value.replace(/\[quot.*?quot]/, '') +
                        (href.getElementsByTagName('textarea')[0].value)).trim() + '\r\n';
        el.focus()
        return false;
    }
</script>
