<!--@subject {{var order.getStoreGroupName()}}: Documento # {{var invoice.increment_id}} update @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>Gentile {{var billing.getName()}}</strong>,<br/>
                    Il tuo ordine # {{var order.increment_id}} è stato <br/>
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>
                    Puoi verificare lo stato del tuo ordine collegandoti su tuo  <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Account</a>.
                </p>
                <p>{{var comment}}</p>
                <p>
                    Se hai domande sul tuo ordine, contattaci a <a href="mailto:info@equipetorino.it" style="color:#1E7EC8;">info@equipetorino.it</a>
                </p>
                    <p>Grazie ancora,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
                    
                    <p>{{config path='general/store_information/address'}}</p>
                    
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>