<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
      $params = $this->getRequest()->getParams();
      unset($params['id']);
      $query = http_build_query($params);
      
      $parentIds = Mage::getResourceSingleton('catalog/product_type_configurable')->getParentIdsByChild($_product->getId() );
      $configurable = Mage::getModel('catalog/product')->load( $parentIds[0] );
      $childIds = Mage::getModel('catalog/product_type_configurable')->getChildrenIds( $configurable->getId() );
      $collection = array();
      // echo "<pre>";
      // print_r($childIds);
      // echo "</pre>";
      if (!empty($childIds[0]) && count($childIds[0]) > 0 ) {
        $collection = Mage::getResourceModel('catalog/product_collection')
                    ->addAttributeToFilter('entity_id', array('in' => $childIds[0] ) )
                    ->addAttributeToFilter('entity_id', array('neq' => $_product->getId() ) )
                    ->addAttributeToSelect('size')
                    ->addAttributeToSort('size','ASC')
                    ->addAttributeToFilter('color', $_product->getColor() );
        // if ($this->getRequest()->getParam('color')) {
        //   $collection->addAttributeToFilter('color', $this->getRequest()->getParam('color') );
        // }
        
        $collection2 = Mage::getResourceModel('catalog/product_collection')
                      ->addAttributeToFilter('entity_id', array('in' => $childIds ) )
                      ->addAttributeToFilter('entity_id', array('neq' => $_product->getId() ) )
                      ->addAttributeToSelect('color')
                      ->addAttributeToSort('color','ASC')
                      ->addAttributeToSelect('small_image');
        if ($this->getRequest()->getParam('size')) {
          $collection2->addAttributeToFilter('size', $this->getRequest()->getParam('size') );
        }
      }
      
      // $attributeId = Mage::getResourceModel('eav/entity_attribute')->getIdByCode('catalog_product','size');
      // $attribute = Mage::getModel('catalog/resource_eav_attribute')->load($attributeId);
      // $attributeOptions = $attribute ->getSource()->getAllOptions();
      // foreach ($attributeOptions as $option ) {
      //   $sizes [ $option['value'] ] = $option['label'];
      // }
      $list = array();
      $list2 = array();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-shop">
          
          <div class="col2-set">

            <div class="col-wide">
              <div class="product-name">
                  <?php echo $this->getPriceHtml($_product, true) ?>
                  <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
              </div>
              <div class="product-sku">
                COD: <?php echo $_helper->productAttribute($_product, $_product->getSku(), 'sku') ?>
              </div>
              
              
              <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                  <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
              <?php endif;?>

              <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                  <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
              <?php endif;?>
              
              
              <div class="block product-sizes">
                <div class="block-title"><?php echo $this->__('Cambia Taglia:') ?></div>
                <ul> 
                  <?php foreach ($collection as $product): ?>
                    <?php if ( !in_array( $product->getSize(), $list ) ): ?>
                      <li><a href="<?php echo $product->getProductUrl() ?>?<?php echo $query ?>" <?php echo $product->getSize()==$_product->getSize() ? 'class="active"' : '' ?>><?php echo $product->getSizeValue() ?></a></li>
                      <?php $list[] = $product->getSize() ?>
                    <?php endif ?>
                  <?php endforeach ?>
                </ul>
              </div>
            </div>
            
            <div class="col-narrow">
              <?php if($_product->isSaleable()): ?>
                <?php echo $this->getChildHtml('addtocart') ?>
              <?php endif ?>
              <?php echo $this->getChildHtml('addto') ?>
              <br />
              <iframe src="http://www.facebook.com/plugins/like.php?href=<?php echo $_product->getProductUrl() ?>&amp;layout=button_count&amp;show_faces=false&amp;width=60&amp;action=like&amp;font&amp;colorscheme=light&amp;height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:30px;" allowTransparency="true"></iframe>
              
              <div id="product_type_data" class="" rel="product_type_data"><?php //echo $this->getChildHtml('product_type_data') ?></div>
              <br />
              <p><strong><?php echo $this->__('Bisogno di aiuto? <a href="%s">Contattaci</a>', $this->getUrl('contacts') ) ?></strong></p>
              <p><?php echo $this->__('Vuoi acquistare questo prodotto al telefono?') ?></p>
              <p><?php echo $this->__('Chiamaci! <span>334.1376161</span>') ?>
              
            </div>
            
          </div>
          
          <div class="block product-colors">
            <div class="block-title"><?php echo $this->__('Cambia Colore:') ?></div>
            <ul> 
              <?php foreach ($collection2 as $product): ?>
                <?php if ( !in_array( $product->getColor(), $list2 ) && $product->getColor() != $_product->getColor() ): ?>
                  <li><a href="<?php echo $product->getProductUrl() ?>?<?php echo $query ?>" <?php echo $product->getSize()==$this->getRequest()->getParam('color') ? 'class="active"' : '' ?>>
                      <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(60,60); ?>" />
                    </a></li>
                  <?php $list2[] = $product->getColor() ?>
                <?php endif ?>
              <?php endforeach ?>
            </ul>
          </div>
            

            <?php //echo $this->getReviewsSummaryHtml($_product, false, true)?>
            <?php //echo $this->getChildHtml('alert_urls') ?>
            <?php //echo $this->getTierPriceHtml() ?>
            <?php //echo $this->getChildHtml('extrahint') ?>

            
            <ul class="css-tabs">
              <li><a class="current" href="#"><?php echo __('Caratteristiche') ?></a></li>
              <li><a href="#"><?php echo __('Spese di spedizione') ?></a></li>
            </ul>
            <div class="css-panes">
              <div class="pane active">
                  <?php //echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                  <p><strong><?php echo $this->__('Misura') ?></strong> (Size): <?php echo $_product->getResource()->getAttribute('size')->getFrontend()->getValue($_product) ?></p>
                  <p><strong><?php echo $this->__('Colore') ?></strong> (Color): <?php echo $_product->getResource()->getAttribute('color')->getFrontend()->getValue($_product) ?></p>
                  <p><strong><?php echo $this->__('Lunghezza Pianta') ?></strong> (Sole): <?php echo $_product->getResource()->getAttribute('sole')->getFrontend()->getValue($_product) ?></p>
                  <p><strong><?php echo $this->__('Altezza Plateau') ?></strong>: <?php echo $_product->getResource()->getAttribute('plateau')->getFrontend()->getValue($_product) ?></p>
                  <p><strong><?php echo $this->__('Altezza Tacco') ?></strong> (Heel): <?php echo $_product->getResource()->getAttribute('heel')->getFrontend()->getValue($_product) ?></p>
                  <p><strong><?php echo $this->__('Materiale') ?></strong>: <?php echo $_product->getResource()->getAttribute('material')->getFrontend()->getValue($_product) ?></p>
                  
              </div>
              <div class="pane"> <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('spedizioni')->toHtml() ?></div>
            </div>

            <?php echo $this->getChildHtml('other');?>

        </div>

        <div class="product-img-box">
            <?php echo $this->getChildHtml('media') ?>
        </div>

        <div class="clearer"></div>

    </form>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>

    <div class="product-collateral col2-set">
      <div class="col-1">
        <?php echo $this->getChildHtml('upsell_products') ?>
      </div>
      <div class="col-2">
        <?php echo $this->getChildHtml('related_products') ?>
      </div>
        <?php //echo $this->getChildHtml('product_additional_data') ?>
    </div>
</div>