<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
  <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
      <div class="no-display">
        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
      </div>
      <div class="product-shop">
        <div class="col2-set">
          <div class="col-wide">
            <div class="product-name"> 
              <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>
            <div class="product-sku"> COD: <?php echo $_helper->productAttribute($_product, $_product->getSku(), 'sku') ?><?php echo $this->getPriceHtml($_product, true) ?> </div>          
            <!--<div id="product_type_data" class="" rel="product_type_data"><?php //echo $this->getChildHtml('product_type_data') ?></div>--> 
            
            <!--<p><?php //echo $this->__('Bisogno di aiuto? <a href="%s">Contattaci</a>', $this->getUrl('contacts') ) ?></p>-->
            <div class="giacenza" id="giacenza"></div>
            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>
            
            <!--<div class="free_delivery"><?php echo $this->__('Reso e Spedizione gratuita') ?></div>-->
            
            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
			<?php endif;?>
          </div>
          <div class="col-narrow">
            <?php if($_product->isSaleable()): ?>
            <?php echo $this->getChildHtml('addtocart') ?>
            <?php endif ?>
            <?php echo $this->getChildHtml('addto') ?> </div>
        </div>
        <?php echo $this->getChildHtml('crosssell_products') ?>
        <ul class="css-tabs">
          <li><a class="current" href="#"><?php echo __('Caratteristiche') ?></a></li>
          <li><a href="#"><?php echo __('Guida alle taglie') ?></a></li>
          <!--<li><a href="#"><?php //echo __('Spese di spedizione') ?></a></li>-->
          <li><a href="#"><?php echo __('Contatti') ?></a></li>
        </ul>
        <div class="css-panes">
          <div class="pane active">
          <div>
          <ul>
          <?php $attribute = $_product->getResource()->getAttribute('manufacturer')->getFrontend()->getValue($_product); 
		  	//metodo per non far stampare il No in assenza di marca
		  ?>
          <? if ($attribute != 'No'):?>
            <li class ="pannelloAttivo-li"><p><strong><?php echo $this->__('Marca') ?></strong>: <?php echo $_product->getResource()->getAttribute('manufacturer')->getFrontend()->getValue($_product) ?></p></li>
            <?php endif ?>
          <?php $attribute = $_product->getResource()->getAttribute('heel')->getFrontend()->getValue($_product); 
		  	//metodo per non far stampare il No in assenza di marca
		  ?>
          <? if ($attribute != 'No'):?>            
            <li class ="pannelloAttivo-li"><p><strong><?php echo $this->__('Altezza Tacco') ?></strong> (Heel): <?php echo $_product->getResource()->getAttribute('heel')->getFrontend()->getValue($_product) ?></p></li>
           <?php endif ?>
            <?php $attribute = $_product->getResource()->getAttribute('plateau')->getFrontend()->getValue($_product); 
		  	//metodo per non far stampare il No in assenza di marca
		  ?>
             <? if ($attribute != 'No'):?>          
            <li class ="pannelloAttivo-li"><p><strong><?php echo $this->__('Altezza Plateau') ?></strong>: <?php echo $_product->getResource()->getAttribute('plateau')->getFrontend()->getValue($_product) ?></p></li>
             <?php endif ?>
            <?php $attribute = $_product->getResource()->getAttribute('material')->getFrontend()->getValue($_product); 
		  	//metodo per non far stampare il No in assenza di marca
		  ?>
             <? if ($attribute != 'No'):?>                
            <li class ="pannelloAttivo-li"><p><strong><?php echo $this->__('Materiale') ?></strong>: <?php echo $_product->getResource()->getAttribute('material')->getFrontend()->getValue($_product) ?></p></li>
            <?php endif ?>
            <?php $attribute = $_product->getResource()->getAttribute('wearability')->getFrontend()->getValue($_product); 
		  	//metodo per non far stampare il No in assenza di marca
		  ?>
             <? if ($attribute != 'No'):?>                  
            <li class ="pannelloAttivo-li"><p><strong><?php echo $_product->getResource()->getAttribute('wearability')->getFrontend()->getLabel($_product)  ?></strong>: <?php echo $_product->getResource()->getAttribute('wearability')->getFrontend()->getValue($_product) ?></p></li>
             <?php endif ?>
            </ul>
            </div>
            <p class="pannelloAttivoDescrizione"><?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?></p>
          </div>
          <div class="pane"> <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('guida_taglie')->toHtml() ?></div>
          <div class="pane"> <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contacts')->toHtml() ?>
          <ul class="pannelloContatti">
          <li class ="pannelloAttivo-li"><a href="/contacts"><img src="/skin/frontend/default/custom/images/mailContatti.png" alt="mail" align="middle"/></a></li>
          <li class ="pannelloAttivo-li"><img src="/skin/frontend/default/custom/images/telefonoContatti.png" alt="telefono" align="middle"/></li>
          </ul>
          <!--<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('blocco-contatti')->toHtml() ?>-->
          </div>
        </div>
        <?php echo $this->getChildHtml('other');?> </div>
      <div class="product-img-box"> <?php echo $this->getChildHtml('media') ?> </div>
      <div class="clearer"></div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script> 
  </div>
  <div class="product-collateral col2-set">
    <div class="col-1"> <?php echo $this->getChildHtml('upsell_products') ?>
      <div class="correlati_autorelated">
        <?php 
			//blocco di codice aggiunto da santo
			echo $this->getLayout()->createBlock('cms/block')->setBlockId('correlati_scheda_prodotto')->toHtml()
			//fine del blocco di codice aggiunto sa santo
 		?>
      </div>
    </div>
    <div class="col-2"> <?php echo $this->getChildHtml('related_products'); ?> 
     <?php //echo $this->getChildHtml('product_additional_data') ?>
          <div class="correlati_autorelated">
        <?php 
			//blocco di codice aggiunto da santo
			echo $this->getLayout()->createBlock('cms/block')->setBlockId('correlati_scheda_prodotto_2')->toHtml()
			//fine del blocco di codice aggiunto sa santo
 		?>   
    </div>

      </div>
  </div>
</div>
