<!--@subject [#{{var ticket.uid}}] Ticket in risposta: {{var ticket.title}}@-->

<style type="text/css">
    body, td {
        color: #2f2f2f;
        font: 11px/1.35em Verdana, Arial, Helvetica, sans-serif;
    }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">

                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top" align="left">
                            <p>
<span class="_CONTENT_">
{{var message.content}}
</span>
                            </p>

                            <p><strong>Dettagli Ticket:</strong></p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;">
                                <b>Ticket ID:</b> <a href="{{var ticket.getAdminUrl()}}">{{var ticket.uid}}</a><br/>
                                <b>Titolo:</b> {{var ticket.title}}<br/>
                                <b>Nome:</b> {{var ticket.getCustomer().name}} &lt;{{var ticket.getCustomer().email}}&gt;<br/>
                            </p>

                            <p>


                                <br/>
                                <br/>
                                Puoi visualizzare il ticket e rispodere con l'interfaccia web da
                                <a href="{{var ticket.getAdminUrl()}}">qui</a>.
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
