<!--@subject Conferma account per {{var customer.name}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Gentile {{var customer.name}}</strong>, <br/> Benvenuto su {{var customer.store.group.name}}.</p>

                            <p>Il tuo indirizzi email {{var customer.email}} deve essere confermato prima di poterti collegare sul sito {{var customer.store.group.name}}.</p>

                            <p>Per confermare l'indirizzo e collegarsi, usa <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">this confirmation link</a>. Questo link è valido una volta sola.</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                Utilizzza questi parametri per collegarti:<br/>
                                E-mail: {{var customer.email}}<br/>
                                Password: {{var customer.password}}<p>

                            <p>Per qualunque domanda sul tuo account, puoi contattarci su: <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a></p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
