<?php
/**
 * Sample template for custom tab content by FishPig
 *
 * Feel free to change this template to what ever you like
 *
 */
 $items = $this->getItems();
 
?>
<form action="#" method="post" accept-charset="utf-8" id="pickinglist_form">
  
  
<div class="entry-edit">
  <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('pickinglist')->__('Order Check') ?></h4>
  </div>
  <div id="group_fields4" class="fieldset fieldset-wide">
    <div class="hor-scroll">
      <input type="text" name="thicker" value="" id="thicker" style="font-size:30px" autofocus />
    </div>
  </div>
</div>

<div class="fieldset " id="tntexpressconnect_form"> 
    
    <div class="hor-scroll">
      
      <table cellspacing="5" cellpadding="5">
        <thead>
          <tr>
            <th></th>
            <th><?php echo Mage::helper('adminhtml')->__('Sku') ?></th>
            <th><?php echo Mage::helper('adminhtml')->__('Name') ?></th>
            <th><?php echo Mage::helper('adminhtml')->__('Barcode') ?></th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($items as $item): ?>
            <?php $product = Mage::getModel('catalog/product')->load( $item->getId() ) ?>
            <?php if ($product->getTypeId() == 'simple'): ?>
              <tr>
                <td class="thick"><input type="checkbox" name="<?php echo $item->getId() ?>" value="1" id="thick_<?php echo $item->getId() ?>" class="thick" size="13"></td>
                <td><?php echo $item->getSku() ?></td>
                <td><?php echo $item->getName() ?></td>
                <td class="barcode"><?php echo $product->getData('barcode') ?></td>
              </tr>
            <?php endif ?>
          <?php endforeach ?>
          
        </tbody>
      </table>
      
    </div>
      
</div>
  
</form>

<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>
<script src="/skin/frontend/default/custom/js/jquery-1.6.2-no-conflict.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/frontend/default/custom/js/soundmanager2-nodebug-jsmin.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  soundManager.url = '/swf';
  soundManager.flashVersion = 9; // optional: shiny features (default = 8)
  soundManager.useFlashBlock = false; // optionally, enable when you're ready to dive in
  /*
   * read up on HTML5 audio support, if you're feeling adventurous.
   * iPad/iPhone and devices without flash installed will always attempt to use it.
  */
</script>

<script type="text/javascript" charset="utf-8">
  soundManager.onready(function() {
    // Ready to use; soundManager.createSound() etc. can now be called.
  	soundManager.createSound({
  	  id: 'scream',
  	  url: '/mp3/screams.mp3' ,
  	  autoLoad: true,
  	  autoPlay: false,
  	  onload: function() {
  	    //alert('The sound '+this.sID+' loaded!');
  	  },
  	  volume: 70
  	});
  });
  
  cleanBarcode = function() {
    jQuery('#thicker').val('');
  }
  
  openBarcode = function() {
    jQuery('#sales_order_view_tabs_pickinglist').click();
  }

  jQuery(document).ready(function() {
    
    <?php if(isset($_GET['from_barcode'])) : ?>
    //setTimeout(openBarcode,1000);
    <?php endif ?>
    
       jQuery("form").bind("keypress", function(e) {
           if (e.keyCode == 13) {
               var barcode = jQuery('#thicker').val();
               var found = false;
               jQuery('.barcode').each(function(i,item) {
                  if (barcode == jQuery(item).text() ) {
                    jQuery(item).parent().parent().find('input').attr('checked',true);
                    jQuery(item).parent().parent().find('td').css('text-decoration','line-through');
                    
                    found = true;
                  };
               });
               if(!found) {
                 jQuery('#thicker').css({backgroundColor:'#F00'});
                 soundManager.play('scream');
                 
               } else {
                 jQuery('#thicker').css({backgroundColor:'#FFF'});
               }
               
               setTimeout(cleanBarcode,1500);
               return false;
          }
       });
   });
</script>