<?php $_subtotalInclTax = $this->getSubtotalInclTax() ?>
<div class="block block-cart">
    <div class="block-title">
      <a href="<?php echo $this->getUrl('checkout/cart') ?>">
      <?php echo $this->__('My Cart') ?><br />
      <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
      </a>
    </div>
    <div class="summary"><?php echo $this->getSummaryCount() ?></div>
</div>
