<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_FBIntegrator
 * @version    2.1.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<div id="fb-root"></div>
<form id="fb-connect" method="post" action="<?php echo Mage::getUrl('fbintegrator/facebook/connect') ?>"></form>

<script>
    window.fbAsyncInit = function() {
        FB.init({ appId: '<?php echo Mage::helper('fbintegrator')->getAppKey() ?>', 
            status: true, 
            cookie: true,
            xfbml: true,
            oauth: true});
    };
	
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol 
            + '//connect.facebook.net/<?php echo $this->getLocaleCode() ?>/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());

</script>