 <div class="homePagebannerContatti"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('banner-contatti')->toHtml() ?></div>

<?php $banners = $this->getBannersByTypeId(1) ?>

<?php if ( isset($banners) ): ?>

<div class="home_banners" total="<?php echo $banners->count() ?>" index="0">
  <?php if ($banners->count() > 1 ): ?>
  <?php endif ?>
  <div class="content">
    <div id="wrapperBanner">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
			<?php $count = 1; foreach ($banners as $banner): ?>
            	<a href="<?php echo $banner->getLink() ?>"><img src="/media/banners/<?php echo $banner->getFilename() ?>" alt="<?php echo $banner->getTitle() ?>"></a>
            <?php $count++; endforeach ?>    
            </div>
        </div>
       </div>
  </div>
</div>
<?php endif ?>
  	<!--aggiunto da Santo per slider-->
    
	<script type="text/javascript">
    	jQuery(window).load(function() {
        	jQuery('#slider').nivoSlider();
    });
    </script>
    <script type="text/javascript">
		jQuery('#slider .nivo-nextNav').live('click', function() {
			jQuery('img').attr("data-transition","slideInRight");
			jQuery('.nivo-nextNav').trigger('click');
		});
		//era mouseover
		jQuery('#slider .nivo-prevNav').live('click', function() {
			jQuery('img').attr("data-transition","slideInLeft");
			jQuery('.nivo-prevNav').trigger('click');
		});
	</script>
   	<!-- fine aggiunta Santo -->  
    
    <!-- Google Code for Tag di remarketing -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1005759720;
var google_conversion_label = "WKQFCNCo7wMQ6NnK3wM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1005759720/?value=0&amp;label=WKQFCNCo7wMQ6NnK3wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>