<?php $banners = $this->getBannersByTypeId(2) ?>

<?php if ( isset($banners) ): ?>

<div class="home_static_banners">
    <?php foreach ($banners as $banner): ?>
      <a href="<?php echo $banner->getLink() ?>"><img src="/media/banners/<?php echo $banner->getFilename() ?>" alt="<?php echo $banner->getTitle() ?>"></a>
    <?php endforeach ?>
</div>
<?php endif ?>
<!-- Google Code for Tag di remarketing -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1005759720;
var google_conversion_label = "WKQFCNCo7wMQ6NnK3wM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1005759720/?value=0&amp;label=WKQFCNCo7wMQ6NnK3wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>