<?php $_product = Mage::registry('current_product') ?>
<?php $_filters = Mage::getSingleton('Mage_Catalog_Block_Layer_State')->getActiveFilters() ?>
<?php $extra = ""; ?>
<?php if ($this->getRequest()->getParam('size')): ?>
  <?php
    $label = "";
    $attributeId = Mage::getResourceModel('eav/entity_attribute')->getIdByCode('catalog_product','size');
    $attribute = Mage::getModel('catalog/resource_eav_attribute')->load($attributeId);
    $attributeOptions = $attribute ->getSource()->getAllOptions();
    foreach ($attributeOptions as $option ) {
      if ($option['value'] == $this->getRequest()->getParam('size') ) {
        $label = $option['label'];
      }
    }
  ?>
  <?php //$extra .= '<li class="size">'.$this->__('Taglia selezionata: <span>%s</span>', $label ).'</li>' ?>
<?php endif ?>

<?php if ($this->getRequest()->getParam('color')): ?>
  <?php
    $label = "";
    $attributeId = Mage::getResourceModel('eav/entity_attribute')->getIdByCode('catalog_product','color');
    $attribute = Mage::getModel('catalog/resource_eav_attribute')->load($attributeId);
    $attributeOptions = $attribute ->getSource()->getAllOptions();
    foreach ($attributeOptions as $option ) {
      if ($option['value'] == $this->getRequest()->getParam('color') ) {
        $label = $option['label'];
      }
    }
  ?>
    <?php //$extra .= '<li class="size">&nbsp;-&nbsp;'.$this->__('Colore selezionato: <span>%s</span>', $label ).'</li>' ?>
<?php endif ?>

<?php if($crumbs && is_array($crumbs)): ?>
<div class="breadcrumbs">
    <?php echo $this->getChildHtml('topLayerNav') ?>
    
    <ul>
        <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
            <?php if ( $_crumbName == 'product' ): ?>
              <?php echo $extra ?>
                <span>&gt; </span>
            <?php endif ?>
            <li class="<?php echo $_crumbName ?>">
            <?php if($_crumbInfo['link']): ?>
                <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->htmlEscape($_crumbInfo['title']) ?>"><?php echo $this->htmlEscape($_crumbInfo['label']) ?></a>
            <?php elseif($_crumbInfo['last']): ?>
                <strong><?php echo $this->htmlEscape($_crumbInfo['label']) ?></strong>
            <?php else: ?>
                <?php echo $this->htmlEscape($_crumbInfo['label']) ?>
            <?php endif; ?>
            <?php if(!$_crumbInfo['last']): ?>
                <span>&gt; </span>
            <?php endif; ?>
            </li>
            <?php if (FALSE !== strpos( $_crumbName, 'category') && $_crumbInfo['last'] && $extra ): ?>
              &nbsp;-&nbsp;<?php echo $extra ?>
            <?php endif ?>
        <?php endforeach; ?>
        
        <?php if (is_object($_product)): ?>
          <li class="home product-sku"><a href="#">Cod <?php echo $_product->getSku() ?></a></li>
        <?php endif ?>
        
        <?php if (!empty($_filters)): ?>
          <li>&nbsp;&nbsp;&nbsp;<?php echo $this->__('Stai filtrando per') ?></li>
        <?php endif ?>
        <?php foreach ($_filters as $key => $_filter): ?>
          <li class="filter"><a href="<?php echo $_filter->getRemoveUrl() ?>" title="<?php echo $this->__('Remove') ?>"><?php echo $this->stripTags($_filter->getLabel()) ?>&nbsp;&nbsp;&nbsp;</a>
          </li>
        <?php endforeach ?>
    </ul>
    
</div>
<?php endif; ?>
