<!--@subject {{var store.getFrontendName()}}: Voucher Regalo {{var code}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"htmlescape var=$sendername":"Sender name",
"var code":"Gift Voucher Code",
"var balance":"Gift Voucher Balance",
"var status":"Status",
"htmlescape var=$message":"Message",
"var expiredat":"Expired At"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}">
								<img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/>
							</a>
						</td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
								<strong>Gentile {{htmlescape var=$sendername}}</strong>,<br/>
							Questa email per informati che hai acquistato con successo un Voucher Regalo presso {{var store.getFrontendName()}}.<br/>
								Vorrai probabilmente usare questo Voucher per fare acquisti <a href="{{store url=""}}">qui</a>.<br/>
							</p>
                            <p>
								<div class="wrap-box" style="background:#FFFFFF; width:655px; overflow:hidden; border:10px solid #424242;padding:0 0 20px 0;">
									<div class="box-content" style="padding:24px 36px 11px 33px;">
										<div class="title-logo" style="float:left; width:100%;">
											<div class="title" style="float:left;">
												<h3 style="font-family:Arial, Helvetica, sans-serif; font-size:42px; text-transform:uppercase; margin:0; color:#424242; font-weight:normal; position: relative; top:17px;">
													 voucher <strong style="background:#424242; color:#FFFFFF; padding:0 10px">regalo</strong></h3>
											</div>

										</div>
										<div class="info-details" style="padding-top:30px; float:left; width:100%;">
											<ul class="form-list" style="list-style:none; margin:0; padding:0;">
												<li style="float:left; width:100%; margin-bottom:15px;">
													<label style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; text-transform:uppercase; float:left;">Data scadenza:</label>
													<div class="value" style="float:left; border-bottom:1px dashed #000000; width:77%; line-height:13px; padding-left:5px; color:#424242;font-size:16px;">
													{{if expiredat}}
														{{var expiredat}}
													{{else}}
														Nessuna
													{{/if}}
													</div>
												</li>
												<li style="float:left; width:100%; margin-bottom:15px;">
													<label style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; text-transform:uppercase; float:left;">A:</label>
													<div class="value" style="float:left; border-bottom:1px dashed #000000; width:93%; line-height:13px; padding-left:5px; color:#424242;font-size:16px;">
														{{htmlescape var=$name}}
													</div>
												</li>
												<li style="float:left; width:100%; margin-bottom:3px;">
													<div class="redemption" style="float:left; width:215px;">
														<label style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; text-transform:uppercase; float:left;">CODICE REGALO:</label>
														<div class="input-box" style="float:left; width:110px; padding-left:10px;">
															<input type="text" value="{{var code}}" name="redemption" style="width:222px; border:1px solid #999999; color:#424242; font-weight:bold;" readonly="true" />
														</div>
													</div>
													<div class="total-value" style="float:right;">
														<label style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; text-transform:uppercase; float:left;">Al valore di:</label>
														<div class="value" style="float:left; border-bottom:1px dashed #000000;line-height:13px; padding-left:5px; color:#424242; font-weight:bold;font-size:16px;">
															{{var balance}}
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div class="term-condition">
											<strong style="float:left; width:100%; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#424242;margin:10px 0 0 0;">Note:</strong>
											<p style="float:left; width:100%;font-size:12px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; margin:0; color:#686868;">Usalo prima della scadenza.Non rimborsabile in denaro. Questo voucher può essere spendibile solo presso <a href="{{store url=""}}">{{var store.getFrontendName()}}</a></p>
										</div>
									</div>
								</div>
                            </p>
                            <p>
              								Se hai domande relative a questo Voucher Regalo o altro, prego scrivici a <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o contattaci per telefono al {{config path='general/store_information/phone'}}.
							</p>
              <p>Saluti da,<br/><strong>{{var store.getFrontendName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
